* {
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
  background-color: #12121f;
}

.container-head {
  background-color: #32121f;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.container-head .data {
  width: 30vh;
  height: 4vh;
  background: none;
  border: #12121f solid 2px;
  color: #eee;
}

.container-head .data::placeholder {
  color: #eee;
}

.nametag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #32121f;
  height: 5vh;
  font-size: 2vh;
  color: #eee;
}

.nav {
  text-align: center;
  padding: 20px;
  background-color: #32121f;
}

.nav .add-btn {
  margin-left: 20px;
  font-size: 40px;
}

table {
  width: 100%;
  color: #eee;
}

th {
  font-size: 1.5rem;
}

td {
  padding: 5px 0;
  font-size: 1.2rem;
  text-align: center;
}

td > button:nth-child(1) {
  margin-right: 5px;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000a;
  justify-items: center;
  align-items: center;
  display: none;
}

.modal {
  background-color: #333;
  padding: 20px;
  display: grid;
  gap: 10px;
  grid-auto-flow: row;
}

.modal-visible {
  display: grid;
}

button {
  color: #eee;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: inherit;
  border: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 14px;
  overflow: hidden;
  transition: 0.2s;
}

button:hover {
  color: #12121f;
  background: #aa9797;
}

.delete-btn {
  color: #bb0a0a;
}

.delete-btn:hover {
  color: #12121f;
  background: #860202;
  box-shadow: 0 0 10px #f32156, 0 0 40px #b40f25, 0 0 40px #f1000c;
}

.edit-btn {
  color: #008cff;
}

.edit-btn:hover {
  color: #12121f;
  background: #00b7ff;
  box-shadow: 0 0 10px #00c3ff, 0 0 40px #00b7ff, 0 0 40px #00bceb;
}

.add-btn {
  color: #008cff;
}
.add-btn:hover {
  color: #32121f;
  background: #af1150;
  box-shadow: 0 0 10px #af1150, 0 0 40px #af1150, 0 0 80px #af1150;
}

.select-category {
  padding: 5px 10px;
  border: none;
  color: #eee;
  background: none;
}

.select-category option {
  background-color: #32121f;
}
